<ion-view hide-tabs="true" view-title="活动详情">
  <ion-nav-title class="item-icon-right">
    活动详情
    <i ng-click="show()" class="icon ion-share"></i>
  </ion-nav-title>
  <!--ion-share-->
  <ion-content class="s-hdxq">
    <h3>久漾饮用水正式上线！</h3>
    <div class="s-h">
      <span class="s-h-l">09-26 09:43</span>
      <span class="s-h-r"><i class="s-zan"></i>12</span>
    </div>
    <p>传统的桶装水订购模式大多依托于电话订购，经营结构为水厂-配送中心-送水员-消费者，极易
    导致错记、漏记等情况发生，延缓送水时间，对用户造成极大困扰。
    </p>
    <p>
      久漾送水app是河南久漾饮用水有限公司官方推出的一款手机送水APP，作为一款专业的送水软件
      ，软件拥有齐全的品牌种类、合适的配送价格、准时的送达速度、优惠的折扣信息，非常不错的一
      款手机送水软件，欢迎下载使用！
    </p>
    <img src="./img/index_img/15.png">
    <p>
      久漾送水app是河南久漾饮用水有限公司官方推出的一款手机送水APP，作为一款专业的送水软件
      ，软件拥有齐全的品牌种类、合适的配送价格、准时的送达速度、优惠的折扣信息，非常不错的一
      款手机送水软件，欢迎下载使用！
    </p>
    <img src="./img/index_img/15.png">
  <p> 久漾饮用水送水，您身边的便捷饮用水平台！</p>

  </ion-content>
</ion-view>

