<ion-view hide-tabs view-title="商品详情">
  <ion-content class="wrapper">
    <ion-slide-box class="banner-detail" auto-play="true" does-continue="true" slide-interval=2000>
      <ion-slide>
        <div class="box banner"><img src="./img/index_img/nofu.png"/></div>
      </ion-slide>
      <ion-slide>
        <div class="box banner"><img src="./img/index_img/nofu.png"/></div>
      </ion-slide>
      <ion-slide>
        <div class="box banner"><img src="./img/index_img/nofu.png"/></div>
      </ion-slide>
    </ion-slide-box>
    <div class="nonfu-info">
      <p>农夫山泉家庭桶装水4L*6桶4L</p>
      <span>￥48.00</span>
      <ul>
        <li>品牌:农夫山泉</li>
        <li>销量:0</li>
        <li>规格:4L</li>
      </ul>
    </div>
    <div class="s-spxq">
      <h3>商品详情</h3>
      <img src="./img/index_img/1.png">
      <img src="./img/index_img/2.png">
      <img src="./img/index_img/3.png">
      <img src="./img/index_img/4.png">
      <ul>
        <li><img src="./img/index_img/5.png"></li>
        <li class="even"><img src="./img/index_img/6.png"></li>
        <li><img src="./img/index_img/7.png"></li>
        <li class="even"><img src="./img/index_img/8.png"></li>
        <li><img src="./img/index_img/9.png"></li>
        <li class="even"><img src="./img/index_img/10.png"></li>
        <li><img src="./img/index_img/11.png"></li>
        <li class="even"><img src="./img/index_img/12.png"></li>
      </ul>
      <img src="./img/index_img/13.png">
      <img src="./img/index_img/14.png">
    </div>




  </ion-content>
</ion-view>
