<ion-view hide-tabs view-title="商品">
  <ion-content>
    <ion-slide-box on-slide-changed="slideHasChanged($index)">
      <ion-slide>
        <div class="box blue"><img src="../img/nofu_img/binglu.jpg" class="img"></div>
      </ion-slide>
      <ion-slide>
        <div class="box yellow"><img src="../img/nofu_img/binglu.jpg" class="img"></div>
      </ion-slide>
      <ion-slide>
        <div class="box pink"><img src="../img/nofu_img/binglu.jpg" class="img"></div>
      </ion-slide>
    </ion-slide-box>
    <div style="background: #fff;padding: 10px 0 10px 10px;">
        <p class="msg">
         冰露纯净建业足球队指定用水水17.5L
        </p>
        <p class="price">￥10.00</p>
        <ul class="information">
          <li><span>品牌：</span><span>冰露</span></li>
          <li><span>销量：</span><span>665</span></li>
          <li><span>规格：</span><span>17.5L</span></li>
        </ul>
    </div>
    <div class="y_shang">
      <h4>商品详情</h4>
      <div class="explain">
        <p>首次订购需要支付空桶押金35元/桶</p>
        <p>送水到付后当面给押金顶但</p>
        <p>您的第二次订购，直接排水即可</p>
        <p>如果的数据奥拉夫丹江口市</p>
      </div>
      <img src="../img/index_img/top2.jpg" alt="" class="msg-t">
      <img src="../img/nofu_img/binglu.jpg" class="img">
      <p class="con-msg">
        发生的六块腹肌案件是否拿时代峰峻拉夫是堕落冰露(Ice
        Dew)是可口可乐(Coca-Cola)公司fasdfasdfasfdsafa出品的一款矿物质水饮料。市面上常见的有330毫升、550毫升装(一块一瓶）、1.5升装和5加仑桶装几种。为中国饮用水市场主流产品之一。
      </p>
    </div>
    <div class="nofu-footer">
      <span class="y_shopcart"><i class="icon ion-ios-cart"></i></span>
      <div class="buttons" ng-click="doSomething()">
        <button class="button">立即购买</button>
      </div>
      <div class="buttons" ng-click="doSomething()">
        <button class="button">加入购物车</button>
      </div>
    </div>
  </ion-content>
</ion-view>
