<ion-view hide-tabs="true">
  <ion-nav-title class="item-icon-right"><i class="icon ion-share" ng-click="show()"></i>发现</ion-nav-title>
  <ion-content>
    <h3 class="y_titlet">久漾饮水正式上线！！！</h3>
    <div class="y_time">
      <span>09-28 18:25</span>
      <span><i class="ion-thumbsup"></i>14</span>
    </div>
    <div class="y_referral">
      <h4>久漾饮水正式上线！</h4>
      <h5>久漾饮水致力打造您身边的饮水专家！</h5>
      <h6>优势一：</h6>
      <p>健康饮水。</p>
      <h6>优势二：</h6>
      <p>健康饮水。</p>
    </div>
  </ion-content>
</ion-view>
