<ion-view view-title="{{title}}">
  <ion-content class="wrapper">
    <div class="header">
      <span></span>
      <input type="text" placeholder="搜索品牌 容量">
    </div>
    <!--轮播图-->
    <ion-slide-box class="my-slide" auto-play="true" does-continue="true" slide-interval=2000>
      <ion-slide>
        <div class="box banner"><a href="#/tab/banner1"><img src="./img/index_img/top2.jpg"/></a></div>
      </ion-slide>
      <ion-slide>
        <div class="box banner"><a href="#/tab/banner2"><img src="./img/index_img/top2.jpg"/></a></div>
      </ion-slide>
      <ion-slide>
        <div class="box banner"><a href="#/tab/banner1"><img src="./img/index_img/top2.jpg"/></a></div>
      </ion-slide>
    </ion-slide-box>
    <!--内容-->
    <ul class="ul">
      <li ng-repeat="x in liss">
        <a ng-href="{{x.href}}">
          <img ng-src="{{x.img}}" alt="">
          <p>{{x.txt}}</p>
        </a>
      </li>

    </ul>
    <div class="part1">
      <div class="left" ng-click="go()">
          <img src="./img/index_img/hongniu.png" alt="">
          <div>
            <span>红牛</span>
            <p>销量:643</p>
            <i>￥0.01</i>
          </div>
      </div>
      <div class="right" ng-click="go()">
        <div class="r-t">
          <img src="./img/index_img/whaha.png" alt="">
          <div>
            <span>哇哈哈桶装水</span>
            <p>销量:297</p>
            <i>￥20.00</i>
          </div>
        </div>
        <div class="r-b" ng-click="go()">
          <img src="./img/index_img/yibao.png" alt="">
          <div>
            <span>怡宝桶装水</span>
            <p>销量:4</p>
            <i>￥30.00</i>
          </div>
        </div>
      </div>
    </div>
    <div class="part2">
      <img class="p2-img1" src="./img/index_img/cup.png" alt="">
      <div class="text">
        <span>酸性水?碱性水?</span><br>
        <b>测一测你喝的是什么水?</b>
      </div>
      <a href="#/tab/ph"><img class="p2-img2" src="./img/index_img/hand.png" alt=""></a>
    </div>
  </ion-content>
</ion-view>

