<ion-view hide-nav-bar="true" hide-tabs="" view-title="">
  <ion-content class="cont">
    <div class="l-bg">
      <img src="./img/bg.png" alt="">
      <a href="#/tab/mine"><span class="ion-android-cloe"></span></a>
    </div>
    <div class="l-log ">
        <div class="btn">
          <a class="l-pas">密码登录</a>
          <a class="l-des">验证码登录</a>
        </div>
        <div class="l-inp">
          <input type="text" placeholder="用户名/手机号"
                 name="user" id="num">
          <input type="password" name="" placeholder="密码"
                 name="pass" id="word">
        </div>
      <div class="l-login">
        <button id="btn">登录</button>
      </div>
      <div class="l-sign">
        <a class="l-reg" href="#/tab/regist">账号注册</a>
        <a class="l-res" href="#/tab/reset">忘记密码</a>
      </div>
    </div>
  </ion-content>
</ion-view>
