<ion-view view-title="登录" hide-nav-bar="true" hide-tabs="true">
  <ion-content class="cont">
    <div class="l-bg">
      <img src="./img/bg.png" alt="">
    </div>
    <div class="l-log ">
      <div class="btn">
        <a class="l-pas">密码登录</a>
        <a class="l-des">验证码登录</a>
      </div>
      <div class="l-inp">
        <input type="text" placeholder="手机号">
        <input type="password" name="" placeholder="验证码">
        <span>获取验证码</span>
      </div>
      <div class="l-login">
        <button>登录</button>
      </div>
      <div class="l-sign">
        <a class="l-reg" href="#/tab/regset">账号注册</a>
        <a class="l-res" href="#/tab/reset">忘记密码</a>
      </div>
    </div>
  </ion-content>
</ion-view>
