<ion-view view-title="账号注册" hide-tabs="true">
  <ion-content>
    <form ng-submit="register()">
      <div class="l-all">
        <div class="l-phon">
          <span class="ion-ipad"></span>
          <input type="text" ng-model="user.u_name" placeholder="请输入手机号"
                 name="user" id="num">
        </div>
        <div class="l-phon">
          <span class="ion-chatbox-working"></span>
          <input type="text" placeholder="验证码">
          <span class="l-may">获取验证码</span>
        </div>
        <div class="l-phon">
          <span class="ion-android-lock"></span>
          <input type="password" ng-model="user.u_password" placeholder="设置密码，至少6位"
                 name="pass" id="pass">
        </div>
        <div class="l-phon">
          <span class="ion-android-lock"></span>
          <input type="password" placeholder="确认密码"
                 name="pass" id="again">
        </div>
      </div>
      <div class="l-reg">
        <button id="regset">注册</button>
        <span>注册即表示同意<a href="">《久漾饮用水协议》</a></span>
      </div>
    </form>

  </ion-content>
</ion-view>
