
<ion-view view-title="aaa">

    <ion-nav-title class="mine-header-top item-icon-right">
      我的
      <i class="icon ion-ios-gear-outline mine-header-i1"></i>
      <i class="icon ion-ios-bell-outline mine-header-i2"></i>
    </ion-nav-title>
  <ion-content>
    <ion-list>

      <div class="mine-header-bottom">
        <a href="#/tab/login">
          <div class="item-icon-right">
            <h3>
              <i class="ion-waterdrop"></i>
            </h3>
            <span class="mine-login">立即登录</span>
            <i class="icon ion-chevron-right icon-accessory"></i>
          </div>
        </a>

      </div>

      <div>
        <ul>
          <li><img src="" alt=""><span>余额</span></li>
          <li><img src="" alt=""><span>优惠券</span></li>
          <li><img src="" alt=""><span>积分</span></li>
        </ul>
      </div>




      <!--<ion-item class=" item-avatar item-icon-right" type="item-text-wrap" href="#/tab/chats/{{chat.id}}">-->

        <!--<i class="icon ion-chevron-right icon-accessory"></i>-->


      <!--</ion-item>-->
    </ion-list>

  </ion-content>
</ion-view>

