
<ion-view view-title="aaa">

  <!--<ion-header-bar align-title="left" class="bar-positive">-->
    <!--<div class="buttons">-->
      <!--<button class="button" ng-click="doSomething()">Left Button</button>-->
    <!--</div>-->
    <!--<h1 class="title">Title!</h1>-->
    <!--<div class="buttons">-->
      <!--<button class="button">Right Button</button>-->
    <!--</div>-->
  <!--</ion-header-bar>-->



    <ion-nav-title class="mine-header-top item-icon-right">
      我的
      <i class="icon ion-ios-gear-outline mine-header-i1"></i>
      <i class="icon ion-ios-bell-outline mine-header-i2"></i>
    </ion-nav-title>
  <ion-content>
    <ion-list>
      <div class="mine-header-bottom">
        <div class="item-icon-right">
          <h3>
            <i class="ion-waterdrop"></i>
          </h3>
          <span class="mine-login">立即登录</span>
          <i class="icon ion-chevron-right icon-accessory"></i>
        </div>
      </div>



      <!--<ion-item class=" item-avatar item-icon-right" type="item-text-wrap" href="#/tab/chats/{{chat.id}}">-->

        <!--<i class="icon ion-chevron-right icon-accessory"></i>-->


      <!--</ion-item>-->
    </ion-list>

  </ion-content>
</ion-view>
