<ion-view view-title="发现">
  <ion-content class="dd-padding">
    <div class="dd-top-main">
      <a href="#/tab/find1">
        <h2>九様饮用水正式上线了！！</h2>
        <p>九様饮用水正式上线了！！九様饮用水致力于打造您身边的便捷饮用水APP!优势1：品质保障
          平台严格审查水站用水，整合各大水站资源，保障用水喝的每一滴水均为放心水！品质保障，假
          一赔十！优势2：资金安全平台更加保障您的资金安全，将您的资金透明化。</p>
        <div class="dd-imgs">
          <img src="../img/dd_img/p1.jpeg" alt="">
          <img src="../img/dd_img/p2.jpeg" alt="">
          <img src="../img/dd_img/p3.jpg" alt="">
        </div>
      </a>
    </div>

    <div class="dd-bottom-main">
      <a href="#/tab/find2">
        <h2>欢度中秋，喜迎国庆！！</h2>
        <p>春秋双节，久様饮用水APP。9月30号到10月8号活动期间，充值即送优惠券大礼包，用户买
          10桶赠2桶、20桶送5桶。好礼多多，乐不停！</p>
      </a>

    </div>

    <div style="height: 40px;"></div>
  </ion-content>
</ion-view>
