

.dd-top-main{
  background-color: #fff;
  width: 100%;
  padding: 10px;
}
.dd-padding .dd-top-main h2{
  font-size: 16px;
  font-weight: bold;
  line-height: 40px;
}
.dd-padding .dd-top-main p{
  color: #15111d;

}

.dd-padding .dd-top-main .dd-imgs img{
  width: 30%;
  height: 130px;
  margin-top: 20px;
}
.dd-bottom-main{
  background: #fff;
  width: 100%;
  margin-top:10px;
  height: 120px;
  padding: 10px;

}
.dd-bottom-main h2{
  font-size: 16px;
  font-weight: bold;
  line-height: 40px;
}
.dd-bottom-main p{
  color: #15111d;
}



.dd-left{
  float: left;
}
.dd-right{
  float: right;
  font-size: 20px;
}
.dd-header{
  font-size: 25px;
}
.dd-content-wrapper{
  overflow: hidden;
  margin: 10px 0;
}
