.wrapper{
  width: 100%;
  height: 100%;
  background-color: #eeeeee;

}
.header{
  width: 100%;
  height: 40px;
  line-height: 40px;
  position: fixed;
  top:0;
  left:0;
  z-index:100;
  text-align: center;
}
.header span{
  width: 30%;
  height: 28px;
  display: inline-block;border-radius: 20px;vertical-align: middle;
  background-color: #eee;}
.header input{
  width: 40%;
  height: 28px;
  display: inline-block;
  background-color: #fff;
  border:1px solid #ddd;
  border-radius: 20px;
  text-align: center;
  vertical-align: middle;
}
.my-slide .banner{
  width: 100%;
  height: 150px;
}
.my-slide img{
  width: 100%;
  height: 100%;
}
.ul{
  width: 100%;
  padding-top:20px;
  background-color: #fff;
  overflow: hidden;
}
.ul li{
  width: 25%;
  float: left;
  text-align: center;
}
.ul li img{
  width: 40px;
  height: 40px;
}
.ul li p{
  font-size:14px;
  font-weight:bold;
  text-align: center;
}
.part1{
  width: 100%;
  margin:10px 0;
  overflow: hidden;
}
.part1 .left{
  float: left;
  width:49%;
  height:200px;
  background-color: #fff;
  position: relative;
}
.part1 .left>div{
  position: absolute;
  top:10px;
  right:0;
  text-align: right;
}
.part1 div span{
  font-size:16px;
  font-weight:bolder;
}
.part1 div i{
  color: #f00;}
.part1 .left img{
  position: absolute;bottom: 0;left: 20%;
  width: 80px;
  height: 120px;}
.part1 .right{
  float: right;
  width: 49%;
}
.part1 .right>div{
  height:96px;
  position: relative;
  background-color: #fff;
  text-align: right;
}
.part1 .right>div.r-t{
  margin-bottom:8px;
}
.part1 .right>div>div{
  position: absolute;
  top:10px;
  right:0;
}
.part1 .right>div>img{
  position: absolute;
  bottom:0;
  left:5%;
}
.part2{
  height: 80px;
  line-height:80px;
  background-color: #fff;
  position: relative;
}
.part2 .text{
  width: 70%;
  font-size:20px;
  line-height:30px;
  color: dodgerblue;
  font-weight:bolder;
  text-align: center;
  position: absolute;
  top: 10%;
  left:15%;
}
.part2 .p2-img1{
  width: 35px;
  height: 60px;
  position: absolute;
  left: 1%;
  top: 20%;
}
.part2 .p2-img2{
  position: absolute;
  top: 50%;
  right:2%;
  width: 42px;
  height: 30px;
}


