<ion-view view-title="我的积分" hide-tabs>
  <ion-nav-title>
    我的积分
  </ion-nav-title>
  <ion-content>
    <div class="integ-header">
      <b>10.00</b>
      <p>当前积分（分）</p>
      <span>积分商品兑换</span>
    </div>
    <div class="integ-over">
      <p>最近30天积分记录</p>
      <ion-list class="shopped_list" class="item-avatar item-icon-right">
        <div class="integ-over-div">
          <h5>签到送积分</h5>
          <h6>+5.00</h6>
          <span>2017-12-06 16:28:05</span>
        </div>
        <div class="integ-over-div">
          <h5>签到送积分</h5>
          <h6>+5.00</h6>
          <span>2017-12-05 09:22:00</span>
        </div>


      </ion-list>
    </div>

  </ion-content>
</ion-view>


