<ion-view view-title="积分商城" hide-tabs>
  <ion-nav-title >
    积分商城
  </ion-nav-title>
  <ion-content>
    <div class="zsc_nav"><p class="zsc_jf">积分<span>15</span></p><p class="zsc_jl"><a href="">兑换记录</a></p></div>
    <div>
      <div class="zsc_title">大家都在兑</div>
      <div class="zsc_sp">
        <p class="zsc_spname">美丽家用桶装...</p>
        <p class="zsc_selfjf"><span>2000</span>积分</p>
        <img src="../img/sa.png" alt="">
      </div>
      <div class="zsc_sp">
        <p class="zsc_spname">自己家抽水机...</p>
        <p class="zsc_selfjf"><span>2000</span>积分</p>
        <img src="../img/dd.png" alt="">
      </div>
      <div class="zsc_sp">
        <p class="zsc_spname">美丽家用桶装...</p>
        <p class="zsc_selfjf"><span>2000</span>积分</p>
        <img src="../img/sa.png" alt="">
      </div>
      <div class="zsc_sp">
        <p class="zsc_spname">自己家抽水机...</p>
        <p class="zsc_selfjf"><span>2000</span>积分</p>
        <img src="../img/dd.png" alt="">
      </div>
    </div>
  </ion-content>
</ion-view>

