<ion-view view-title="收货地址" hide-tabs="true">
  <ion-nav-title >
    收货地址
  </ion-nav-title>
  <ion-content style="background-color: #f7f7f7;">
    <div ng-hide="flag" class="mine-news-cont">
      <img src="./img/mine_img/news.png" alt="">
      <span>暂无收货地址</span>
    </div>
    <div ng-show="flag" ng-repeat="x in addrs" class="mine-address">
      <h4>{{x.a_addr}}</h4>
      <span>{{x.u_name}}</span>
      <span>{{x.a_phone}}</span>
      <a href="#/tab/resetaddr/{{x.a_id}}"><span class="icon ion-edit"></span></a>
    </div>
  </ion-content>
  <a href="#/tab/address">
    <div class="mine-addr-bottom">
      <i class="icon ion-ios-plus-outline"></i>
      新增地址
    </div>
  </a>
</ion-view>

