<ion-view view-title="关于我们" hide-tabs>
  <ion-nav-title>
    关于我们
  </ion-nav-title>
  <ion-content class="padding gywm">
    <div class="about-top">
      <p>久漾饮用水是集订水、送水为一体的专业数字化平台。秉承"激情、机制、创新、服务"的企业理念，建立强大的平台操作系统。</p>
      <p>久漾饮用水平台不懈努力，坚持的是让各位用户更健康更便捷地饮水。让用户体验"互联网+饮用水"的便捷，享受更好的生活。</p>
    </div>

    <div class="about-cont">
      <img src="./img/mine_img/ewm.png" alt="">
      <span>扫一扫 关注久漾微信公众号</span>
    </div>
  </ion-content>
  <div class="about-bottom">客服电话：<span>0371-55222555</span></div>
</ion-view>

