<ion-view view-title="余额" hide-tabs="true">
  <ion-nav-title>
    充值
  </ion-nav-title>
  <ion-content>
    <div class="ch_inp">
      <p>充值金额&#40;元&#41;</p>
      <input type="text" placeholder="请输入您想要的充值的金额">
    </div>
    <div class="ch_box">
      <p>选充选项</p>
      <div class="z_chance">
        <span>10元</span><span>100元</span><span>300元</span><span>500元</span><span>800元</span><span>1000元</span>
      </div>
    </div>
    <div class="z_apply">
      <p><img src="../../img/zfb.png" alt="">支付宝支付</p>
      <p><img src="../../img/wx.png" alt="">微信支付</p>
    </div>
   <button class="z_btnapply">支付</button>
  </ion-content>
</ion-view>

