<ion-view view-title="发现">
  <ion-content class="dd-padding">
    <div class="dd-top-main">
      <div class="type">
        <h1 class="dd-header">九様饮用水正式上线了！！</h1>
        <div class="dd-content-wrapper">
          <span class="dd-left">09-28 18:25</span>
          <span class="dd-right">👍 14</span>
        </div>
        <p>九様饮用水正式上线了！！</p>
        <p>九様饮用水致力于打造您身边的便捷饮用水</p>
        <div>
          <p>优势1：品质保障</p>
          <p>平台严格审查水站用水，整合各大水站资源，保障用水喝的每一滴水均为放心水！品质保障，假一赔十！</p>
        </div>
        <div>
          <p>优势2：资金安全</p>
          <p>平台更加保障您的资金安全，将您的资金透明化。线上订单购买，可在平台实时查看余额，杜绝传统纸质水票丢失的风险，平台保障您的资金安全！</p>
        </div>
        <div>
          <p>优势3：选择多样化</p>
          <p>平台整合多家水站，合作多种品牌桶装水，用户可以自由选择购买。拒绝捆绑消费，打破一次性在一家水站订购多张水票的模式，一桶水也可以享受优惠价。</p>
        </div>
        <div>
          <p>优势四：线上订单，送水到府</p>
          <p>周边商户定位，中心调度，按需分配。不用繁琐的搜索商家信息和对比报价，基于庞大的供应商储备，叮咚送水为您安排最合适的水站配送</p>
        </div>
        <div>
          <p>优势五：预约功能，位置共享</p>
          <p>提前预约，送水到家，时间由你安排，配送位置共享。</p>
        </div>

      </div>
  </ion-content>
</ion-view>
